.lead__title {
  margin: 0 0 32px;
  max-width: 720px;
  width: 93%;
  font-size: 96px;
  line-height: 104%;
  letter-spacing: 1.5px;
  text-align: center;
}

@media screen and (max-width: 735px) {
  .lead__title {
    max-width: 520px;
    font-size: 72px;
  }
}

@media screen and (max-width: 535px) {
  .lead__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 450px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
    letter-spacing: .5px;
  }
}